

.language {
    color: red;
}

.rating {
    padding: 5px;
    background-color: blue;
    border-radius: 10px;
    width: fit-content;
    margin-top: 5px;
    font-size: 1.4rem;
}

label {
    font-weight: bold;
    color: lightgoldenrodyellow;
}

